* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  outline: none;
}
.max-width {
  max-width: 1200;
  padding: 0 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.dropdown .dropbtn {
  font-size: 16px;
  margin-top: 2px;
  border: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content .a {
  width: 100%;
  color: black;
  padding: 8px 32px;
  background-color: #fff;
  border: none;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* home styling here */
.home {
  padding-top: 7rem;
}
img{
  margin-top: 5px;
  width: 60px;
}
table{
  max-width: 100%;
}
table,
tr,
thead,
td {
  border: 1px solid #000;
  height: 40px;
  border-collapse: collapse;
}
thead {
  background: crimson;
  color: white;
}
td{
  width: 9rem;
  padding: 0 7px;
}
.iqty{
  width: 50px;
}
.fa-solid {
  color: red;
}