* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  outline: none;
}
.max-width {
  max-width: 1200;
  padding: 0 80px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: rgba(15, 15, 13, 0.623);
  padding: 20px 0;
  color: #fff;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
ul {
  float: right;
  margin-bottom: 5px;
}

ul li {
  display: inline-block;
}
ul li a {
  margin-right: 30px;
  color: #fff;
}

/* product section styling here */
.product {
  display: flex;
  padding-top: 110px;
  height: 350px;
  width: 100%;
}
.product .max-width{
  width: 100%;
}

/* product image styling here */
.product img {
  width: 230px;
  height: auto;
}
.product .order {
  float: right;
  margin-top: 60px;
}
.product .order .orderbtn {
  width: 160px;
  height: 40px;
  border: 3px solid green;
  border-radius: 60px;
  font-size: 20px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.product .order .orderbtn:hover {
  color: #ffffff;
  background-color: green;
}
.somedetails{
  float: right;
  text-align: left;
}
.product .productname {
  font-size: 25px;
  width: 100%;
  margin-left: 30px;
}
.price{
  font-size: 20px;
  margin-top: 25px;
  height: 30px;
}
.price span{
  opacity: 80%;
}
.category{
  height: 30px;
  margin-top: 40px;
  width: 40px;
  border-radius: 7px;
  border: none;
}
#minus{
  width: 30px;
  height: 30px;
  border-radius: 7px;
  font-size: 15px;
  border: none;
}
#plus{
  width: 30px;
  height: 30px;
  border-radius: 7px;
  border: none;
}
/* description section here */
.description{
  display: inline-block;
  width: 100%;
}
.description .desc{
  display: flex;
  width: 100%;
  padding-top: 30px;
  justify-content: center;
  text-align: center;
}